/* Reset Margin and Padding */
* {
    margin: 0;
    padding: 0;
  }
  
  /* Logo Styling */
  span {
    /* color: rgb(84, 5, 85); */
    color:#20498a;
  }
  
  .logo {
    font-size: larger;
  }
  
  /* Navbar Container */
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1px 0px 12px 0px;
    /* background-color: rgb(168, 66, 66); */
    /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);

    padding: 15px;
  }
  
  /* Navbar List Items */
  .navItem ul {
    display: flex;
    gap: 30px; /* Adjust the gap between items */
    align-items: center;
    list-style: none;
  }
  
  /* Individual Navbar List Items */
  .navItem ul li {
    margin-right: 20px;
    cursor: pointer;
    position: relative; /* Required for positioning the dropdown */
    padding: 10px 15px;
  }

  

  

  

  
